<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>contacto</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="musica.html">music</a></li>
                <li><a href="conctact.html">contac</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fab fa-twitter"></i>
            </a>
            <a href=""><i class="fab fa-facebook-square"></i>
            </a>
            <a href=""><i class="fab fa-instagram"></i
            </a>
            <a href=""><i class="fab fa-apple"></i>
            </a>
            <a href=""><i class="fab fa-amazon"></i>
            </a>
            <a href=""><i class="fab fa-spotify"></i>
            </a>
        </nav>
    </header>
    <!-- contenido de pagina -->
    <main>
        <h1>Contac //</h1>
        <h3>We are here</h3>
        <!-- mapa -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.228451074735!2d-80.81897396357952!3d35.24303295058533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a07453fa44f5%3A0xf9262fa367307d7!2sNoDa%20Self%20Storage!5e1!3m2!1ses-419!2sar!4v1630870579854!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <!-- Información -->
        <section>
            <article>
                <h2>Contact info</h2>
                <h4>MANAGEMENT | Karen Blanche</h4>
                <b>email:</b><a href="mailto:info@mysite.com">info@mysite.com</a>
                <b>phone:</b><a href="tel:+123-456-7890">+123-456-7890</a>
            </article>
            <article>
                <h4>LABEL | Wix Records, Jake Coldham</h4>
                <b>email:</b><a href="mailto:info@mysite.com">info@mysite.com</a>
                <b>phone:</b><a href="tel:+123-456-7890">+123-456-7890</a>
            </article>
            <article>
                <h4>PR | That Gril Pr, Sarah Brookstone</h4>
                <b>email:</b><a href="mailto:info@mysite.com">info@mysite.com</a>
                <b>phone:</b><a href="tel:+123-456-7890">+123-456-7890</a>
            </article>
        </section>
    </main>
    <!-- pide de pagima -->
</body>
</html>