<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Musica</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="musica.html">music</a></li>
                <li><a href="conctact.html">contac</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fab fa-twitter"></i>
            </a>
            <a href=""><i class="fab fa-facebook-square"></i>
            </a>
            <a href=""><i class="fab fa-instagram"></i
            </a>
            <a href=""><i class="fab fa-apple"></i>
            </a>
            <a href=""><i class="fab fa-amazon"></i>
            </a>
            <a href=""><i class="fab fa-spotify"></i>
            </a>
        </nav>
    </header>
<!-- contenido de pagina -->
    <main>
        <h1>Music</h1>
        <h4>Directs links</h4>
        <ul>
            <li><a href="#album">Albun</a></li>
            <li><a href="#organic">video: Organic love</a></li>
            <li><a href="#street">video: street light</a></li>
        </ul>
        <!-- seccion del album -->
        <section>
            <h2 id="album">ALBUM<br>TWIST IN MY REALITY </h2>
            <img src="/img/emilia-play-list.png" alt="emilia-play-lis">
            <ol>
                <li><i class="fas fa-play"></i>Organic love | 02:40</li>
                <li><i class="fas fa-play"></i>Twist In My Reality | 02:10</li>
                <li><i class="fas fa-play"></i>Street Light | 03:28</li>
                <li><i class="fas fa-play"></i>Love Don't Live Here Anymore(Cover) | 03:48</li>
            </ol>
            <a href="#">Go top</a>
        </section>
        <!-- seccion videos -->
        <section>
            <article>
                <h2 id="organic">Organic love</h2>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and filmed by NICOLAS TROY</p>
                <p>Produced by MIKI HEART</p>
                <p>Wix films LTD.</p>
                <a href="#">Go Top</a>
            </article>
            <article>
                <h2 id="street">Street Linht</h2>
                <iframe title="vimeo-player" src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and filmed by NICOLAS TROY</p>
                <p>Produced by MIKI HEART</p>
                <p>Wix films LTD.</p>
                <a href="#">Go Top</a>
            </article>
        </section>
    </main>
<!-- pie de pagina -->
<footer>

</footer>
</body>
</html>